<div class="userForm">
  <h3>Change Password
    <img src="assets/images/logo_white.png" alt="" style="width: 60px; margin-top: -12px;">
  </h3>
  <form [formGroup]="userChangePasswordForm" class="form-group">
    <label for="currentPassword">Current Password</label>
    <input type="password" formControlName="currentPassword" id="currentPassword" class="form-control">
    <label for="newPassword">New Password</label>
    <input type="password" formControlName="newPassword" id="newPassword" class="form-control">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control">
  </form>
  <button (click)="changePassword()" class="btn btn-light">Change Password</button>
</div>

