
<div (click)="closeMessenger()" class="modal-backdrop"></div>
<div class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{username}}</h5>
        <button (click)="closeMessenger()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" #scroll [scrollTop]="scroll.scrollHeight">
        <div *ngFor="let msg of messages">
          <div *ngIf="msg.sender === this.username">
            <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg">
                <img src="" class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer">
                {{msg.message}}
              </div>
            </div>
          </div>

          <div *ngIf="msg.sender !== this.username">

            <div class="d-flex justify-content-end mb-4">
              <div class="msg_cotainer_send">
                {{msg.message}}
              </div>
              <div class="img_cont_msg">
                <img src="" alt="">
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <div class="row" style="width: 100%; align-items: center">
            <div class="input-group">
            <textarea class="form-control type_msg" name="message" id="message"
                      (keydown.enter)="sendMessage()"
                      cols="1" rows="1"
                      placeholder="Type your message..."
                      [(ngModel)]="message"
                      style="border: 1px solid #5f53ad; border-radius: 5px; height: 100px;"></textarea>
            <div (click)="sendMessage()" class="input-group-append">
              <span class="input-group-text send_btn"><fa-icon [icon]="sendArrow"></fa-icon></span>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
