<div class="userForm">
  <h3>Sign In
    <img src="assets/images/logo.png" alt="" style="width: 60px; margin-top: -12px;">
  </h3>
  <form [formGroup]="userLoginForm" class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" id="email" class="form-control">
    <label for="password">Email</label>
    <input type="password" formControlName="password" id="password" class="form-control">
  </form>
  <button (click)="login()" class="btn btn-light">Sign In</button>
</div>

